.cardSection {
  position: relative;
  padding-bottom: 9.6rem;
  padding-top: 9.6rem;
  background-color: #e6f2fa;
}

.notHomePage {
  padding-top: 0;
}

.seeAllBtnContainer {
  padding-top: 2rem;
  display: flex;
}

.infoText {
  font-size: 2rem;
}
