.contactMeSection {
  padding-top: 9.6rem;
  padding-bottom: 9.6rem;
}

.contactMeGrid {
  background-color: #e6f2fa;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  border-radius: 10px;
  gap: 2rem;
  padding: 2rem;
}
